{% load static %}

<body>
	</div>
<div class="topnav">
	<a href="index.html">Home</a>
	<a href="booking.html">Booking</a>
	<a href="Layanan.html">Layanan</a>
	<a href="" style="float: right;"></a>

	</div>
<div class="row">
	<div class="card" style="width: 18rem;">
		<img src="{% static 'img/cobanputri.jpg'%}" alt="cobanputri.jpg" width="200" height="200" style="border-radius: 50%;" class="card-img-top" alt="...">
		<div class="card-body">
		  <p class="card-text">Coban Putri</p>
		  <a href="https://maps.google.com/?cid=5817136057700481288&entry=gps" target="_blank"><button type="button" class="btn btn-info">Info</button></a>
		</div>
	  </div>
	  <div class="card" style="width: 18rem;">
		<img src="{% static 'img/CobanRais.jpg'%}" alt="CobanRais.jpg" width="200" height="200" style="border-radius: 50%;" class="card-img-top" alt="...">
		<div class="card-body">
		  <p class="card-text">Coban Rais</p>
		  <a href="https://maps.app.goo.gl/iAy1UjubM7iwVWNs7" target="_blank"><button type="button" class="btn btn-info">Info</button></a>
		</div>
	  </div>
	  <div class="card" style="width: 18rem;">
		<img src="{% static 'img/Pantaibatubengkung.jpg'%}" alt="Pantaibatubengkung.jpg" width="200" height="200" style="border-radius: 50%;" class="card-img-top" alt="...">
		<div class="card-body">
		  <p class="card-text">Pantai Batu Bengkung</p>
		  <a href="https://maps.app.goo.gl/Rmmf4Hp5qYWrUk9D8" target="_blank"><button type="button" class="btn btn-info">Info</button></a>
		</div>
	  </div>
	  <div class="card" style="width: 18rem;">
		<img src="{% static 'img/kotamalngmalam.jpg'%}" alt="kotamalngmalam.jpg" width="200" height="200" style="border-radius: 50%;" class="card-img-top" alt="...">
		<div class="card-body">
		  <p class="card-text">Kota Malang Pada Malam Hari</p>
		  <a href="https://maps.app.goo.gl/dZrwMm9rD5U6EEkw8" target="_blank"><button type="button" class="btn btn-info">Info</button></a>
		</div>
	  </div>
<div class="footer">

<h2><marquee>Jangan lupa untuk melakukan booking setelah memutuskan wisata yang ingin di tuju melalui panel booking</marquee></h2>

</div>

</body>

</html>
