{% extends 'base.html'%}
{% load static %}
{% block kontent %}
<div class="container">
<h2 class="text-center">Tabel Wisata</h2>
<table border="1" class="table table-primary table-striped">
    <tr>  
        <th>Kode Wisata</th>
        <th>Nama Wisata</th>
        <th>Harga Tiket</th> 
        <th>Hari Kerja</th>
        <th>Link Gambar</th>
        <th>Jenis Wisata</th>
    </tr>
{% for Barang in barangs %}
<tr>
    <td>{{ Barang.kodewisata }}</td>
    <td>{{ Barang.nama_wisata }}</td>
    <td>{{ Barang.harga_tiket }}</td>
    <td>{{ Barang.hari_kerja }}</td>
    <td>{{ Barang.link_gbr }}</td>
    <td>{{ Barang.jenis_wisata }}</td>
</tr>
{% endfor %}
</table></div>
{% endblock %}
